<div class="container">
        <div>
        <h1> Result Composition </h1>
        <div>
        	<ul>
        		<li> Duration: {{duration}} </li>
        		<li> Types: </li>
        			<ul>
        				<li> Video : {{vcount}}</li>
        					<ul>
        						<li> format: </li>
        							<ul> 
        								<li> MPEG : {{mpegcount}} </li>
        								<li> mov :  {{movcount}} </li>
        								<li> mp4: {{mp4count}} </li>
        							</ul>
        					</ul>
        				<li> Audio : {{acount}} </li>
        					<ul>
        						<li> mp4: {{mp3count}} </li>
        					</ul>
        				<li> Text : {{tcount}} </li>
        				<li> Image : {{icount}} </li>
        					<ul> 
        						<li> jpeg : {{jpegcount}} </li>
        						<li> gif : {{gifcount}} </li>
        					</ul>
        			</ul>
        	</ul>
        </div>
</div>
