<div class="container">
        <div>
        <h1> Video Composer </h1>
          
              <h4> Copy the JSON Object below </h4>
              <fieldset class="form-group">
              <textarea class="form-control"  style="width:810px;max-height:600px;overflow-y:auto;text-align:left;"  rows="20" placeholder="URL" ng-model="composition.url" /></textarea>
              </fieldset>
              <button type="submit" class="btn btn-default" ng-click="feedback(composition)" >SEND</button>
               
        </div>
 </div>